{% extends 'students/base.html' %}

{% block content %}
<h1 style="color:red">NEW DEPLOYMENT TEST OK</h1>
<h1 style="color:red">UPDATED VERSION TEST 123</h1>
<h2>Dashboard</h2>

<!-- Total Students -->
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card card-box p-3">
            <h6>Total Students</h6>
            <h2>{{ students|length }}</h2>
        </div>
    </div>
</div>

<!-- Search -->
<form method="GET" class="mb-3">
    <input type="text" name="q" class="form-control" placeholder="Search student...">
</form>

<!-- Table -->
<div class="card card-box p-3">

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.age }}</td>

            <td>
                <a href="/edit/{{ student.id }}/" class="btn btn-warning btn-sm">Edit</a>
                <a href="/delete/{{ student.id }}/" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}